<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>글 수정페이지</title>
</head>

<body>
<section layout:fragment="main">
    <div class="container">
        <script>
            function ArticleSave__submitForm(form) {
                form.subject.value = form.subject.value.trim();
                if (form.subject.value.length == 0) {
                    alert('제목을 입력해주세요.');
                    form.subject.focus();
                    return;
                }

                const editor = $(form).find(".toast-ui-editor").data("data-toast-editor");
                const markdown = editor.getMarkdown();
                console.log(markdown);
                form.content.value = markdown.trim();
                if (form.content.value.length == 0) {
                    alert("내용을 입력해주세요");
                    editor.focus();
                    return;
                }
                var value = marginTag(); // return array
                $("#rdTag").val(value);
                form.submit();
            }
        </script>


        <div class="container px-3 mx-auto">
            <h1 class="font-bold text-lg"><i class="fa-solid fa-pen"></i> 수정</h1>
            <form id="form" method="POST" onsubmit="ArticleSave__submitForm(this); return false;">
                <input type="hidden" name="content" placeholder="내용을 입력해주세요."/>
                <div class="form-control w-full">
                    <label class="label">
                        <span class="label-text">제목</span>
                    </label>
                    <input name="subject" type="text" maxlength="50" placeholder="제목을 입력해주세요."
                           class="input input-bordered w-full max-w-xs" th:value="${post.subject}"/>
                </div>


                <div class="form-control w-full">
                    <label class="label">
                        <span class="label-text">내용</span>
                    </label>
                    <div class="toast-ui-editor" toast-ui-editor--height="400px">
                        <script type="text/x-template">[[${post.content}]]</script>
                    </div>
                </div>

                <div class="mt-3">
                    <div class="btns">
                        <input class="btn btn-primary btn-outline" type="submit" value="수정"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

</body>
</html>

