<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>상품 리스트</title>
</head>

<body>
<main layout:fragment="main">
    <div class="container">
        <a class="btn btn-outline btn-rounded btn-tertiary mb-2 " th:href="@{|/product/write|}" > 상품생성</a>
        <h1>상품 리스트</h1>

        <ul>
            <li th:each="product : ${products}" class="flex gap-2 items-center">
                <a th:href="@{|/product/${product.id}|}" th:text="|번호 : ${product.id}|">
                </a>

                <a th:href="@{|/product/${product.id}|}" th:text="|상품명 : ${product.subject}|">
                </a>

                <a th:href="@{|/product/${product.id}|}" th:text="|가격 : ${product.price}|">
                </a>

                <a th:href="@{|/product/${product.id}|}" th:text="|작성자 : ${product.seller.username}|">
                </a>

                <a th:href="@{|/product/${product.id}|}" th:text="|작성날짜 : ${product.createDate}|">
                </a>

                <a th:href="@{|/product/${product.id}|}" th:text="|작성날짜 : ${product.modifyDate}|">
                </a>
            </li>
        </ul>
    </div>
</main>
</body>
</html>